/* Universal style */

html {
  font-family: "Open sans", Helvetica;
  font-size: 16px;
  display: flex;
  flex-wrap: ;
  color: black;
  max-width: 100%;

}



/* HEADER */

.header-container {
  display: flex;
  flex-direction: row;
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.header-container img{
padding-top: 0.5rem;
height: 3rem;
}

.header-container p{
  font-size: 1.5rem;
  align-self: center;
}


.desktop-nav {
  font-size: "Heebo", Helvetica;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  margin-left: 70rem;
  margin-right: 1.5rem;
  align-self: center;

}

.mobile-nav {
  display: none;

}

.header-container a {
  color: grey;
  justify-content: space-between;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

}

/* Mobile nav */
@media only screen and (min-width : 320px) and (max-width : 736px) {

header {
  width: 100%;
}
.desktop-nav {
    display: none;
  }

#colmar {
  display: none;
}

.mobile-nav {
  width: 100%;
  display: flex;
  align-content: space-between;
  height: 4rem;

}

.mobile-nav span {

  flex-grow: 1;
  align-content: space-between;
}
}



/*  JUMBOTRON  */

.jumbotron {
  background-color: 	#D3D3D3;
  display: flex;
}

.jumbotron img {
  margin: 2rem 1.5rem;
}

.jumbotron-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  justify-content: center;
  text-align: left;
  margin-right: 6rem;
  margin-left: 1rem;
  padding-right: 3rem;
  color: #404040;
  width: 40%;

}

.jumbotron-right h1 {
  font-size: 4rem;
}

.jumbotron-right h2 {
  font-size: 2rem;
  font-weight: bold;

}

.jumbotron-right p {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #808080;
  color: white;

}

@media only screen and (min-width : 320px) and (max-width : 736px) {

.jumbotron {
  width: 100%;
  flex-wrap: wrap;
}
.jumbotron img {
  width: 100%;
  margin: 0rem 0rem;
}

.jumbotron-right {
  width: 100%;
  display: flex;
  text-align: center;
}
.jumbotron-right h1 {
  font-size: 2.5rem;
  width:  23rem;
  margin-bottom: 2rem;
}
.jumbotron-right h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.jumbotron-right p {
  margin: 0rem 2rem 2rem 1.5rem;
}

}

/* INFORMATION MAIN */
.info-main-container {
  display: flex;
  width: 100%;
}

@media only screen and (min-width : 320px) and (max-width : 736px) {
.info-main-container {
  display: flex;
  flex-direction: column;
}
}


/*LEFT CONTAINER*/

.middle-left {
  margin: 2rem 1.5rem 1rem 1.5rem;
}

.middle-left h1 {
  margin-bottom: 0rem;
}

.middle-left p {
    padding: 0rem 0rem;
    width: 100%;

}

@media only screen and (min-width : 320px) and (max-width : 736px) {

.middle-left {
  display: none;
}



}

/*RIGHT CONTAINER */

.middle-right {
  padding: 2rem 0rem;
  width: 40%;
}

.middle-right a{
  text-decoration: none;

}

.orientation,
.campus {
  border: 2px solid #E8E8E8;
  display: inline-flex;
  width: 100%;
}


.orientation img,
.campus img,
.guest-lecture img {
  width: 35%;
  height: 35%;
  margin: 1rem;
}

.o-container,
.c-container,
.g-container {
  width: 65%;
  align-self: center;
  margin: 1rem;
}


.guest-lecture {
  border: 2px solid #E8E8E8;
  display: inline-flex;
  background-color: #E8E8E8;
  width: 100%;
}

.g-container p {
  flex-wrap: wrap;
}

@media only screen and (min-width : 320px) and (max-width : 736px) {

  .middle-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #808080
  }

  .middle-right p {
    width: 100%;

  }

  .orientation,
  .campus,
  .guest-lecture {
    display: block;
    width: 100%;
    border: none;
  }

  .orientation img,
  .campus img,
  .guest-lecture img {
    width: 100%;
    height: 20rem;
    margin: 1rem 1rem 1rem 0rem;
    align-items: center;
    justify-content: center;
  }

}


/* START LEARNING SECTION */

.start-learning {
  text-align: center;
  background-color: #DCDCDC;
  max-width: 100%;
}

.start-learning h1 {
  padding-top: 2rem;

}

.learning-container {
  padding: 2rem 3.5rem;

}
.row-1 {
  display: flex;
}

.row-1 h3 {
  padding: 0.5rem 1rem;

}

.row-1 p {
  padding: 0.5rem 1rem;

}

.engineering,
.computer,
.design {
  margin: 1rem;
  background-color: white;
  text-align: left;
}

.engineering img,
.computer img,
.design img {
  width: auto;
  height: auto;
}


.row-2 {
  display: flex;
}

.row-2 h3 {
  padding: 0.5rem 1rem;

}

.row-2 p {
  padding: 0.5rem 1rem;

}

.data,
.business,
.marketing {
  margin: 1rem;
  background-color: white;
  text-align: left;

}

.data img,
.business img,
.marketing img {
  width: auto;
  height: auto;
}

.mobile-learning-column {
  display: none;
}

@media only screen and (min-width : 320px) and (max-width : 736px) {

.start-learning{
  width: 100%;
  background-color: white;

}

.learning-container {
  display: none;
}

.mobile-learning-column {
  display: block;
  flex-direction: column;
  width: 100%;
}

.mobile-learning-column h3{
  color: #707070;
  font-size: 1.5rem;
  background-color: silver;
  text-align: left;
  align-self: center;
  padding: 1.5rem 0rem 1.5rem 1rem;

}

}


/* THESIS EXHIBIT */

.thesis-exhibit {
  text-align: center;

}

.thesis-exhibit h1 {
  margin: 2rem 0rem;
}

.thesis-container {
  display: flex;
}

/* LEFT THESIS */

.thesis-left {
  text-align: left;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  max-width: 60%;


}

.thesis-left video {
  width: 100%;
  display: block;

}

.left-content {
  width: 100%;
}

/* THESIS RIGHT */

.thesis-right {
  width: 40%
}

.fisma {
  display: inline-flex;
  background-color: #E8E8E8;
  width: 100%;


}

.nowandthen {
  display: inline-flex;
  padding-right: 5rem;
  width: 100%;


}


.fisma img,
.nowandthen img {
  margin: 1rem;
}

.f-content,
.n-content {
  align-self: center;
  text-align: left;
  margin: 1rem;
  flex-wrap: wrap;
}

@media only screen and (min-width : 320px) and (max-width : 736px) {

.thesis-right{
  display: none;
}

.left-content {
  display: none;
}

.thesis-left {
  width: 100%;
}

.thesis-left video {
  width: 100%;
  height: auto;
  align-content: center;
  margin: 1rem 0rem 1.5rem 0rem;
}
}

/* footer */

footer {
  font: Helvetica;
  font-size: 1rem;
  display: flex;
  align-self: center;
}

.copyright {


}

.desktop-footer {
  flex-direction: column;
  align-content: space-between;
  text-align: right;
  float: right;
  flex-grow: 1.5;
  margin-top: 0.8rem;
  margin-right: 2rem;
}

.desktop-footer span {
  padding-right: 1rem;
}

@media only screen and (min-width : 320px) and (max-width : 736px) {

  .desktop-footer {
    display: none;
  }

  .copyright p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
